{% extends 'base.html' %}

{% block content %}
    <h1>medals</h1>
    {% if object_list %}
        <ul>
            {% for medal_of_honor in object_list %}
                <li>
                    <a href="{% url 'base_app:medal_of_honor_detail' pk=medal_of_honor.pk  %} ">{{ medal_of_honor.name }}</a>
                    ({{ medal_of_honor.description }})
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>There are no medals in the library.</p>
    {% endif %}
{% endblock %}