{% extends "base.html" %}
{% load i18n %}
{% block title %}
    Rescued Boat
{% endblock %}
{% block content %}
    <div class= "position-absolute top-50 start-50 translate-middle badge text-secondary" style="width:30%">
      <p class="fs-2 text"><em>{{ object.first_name }}</em></p>
    <p class="fs-2 text"><em>{{ object.last_name }}</em></p>
    <p class="fs-2 text"><em>{{ object.description }}</em></p>
    <p class="fs-2 text"><em>{{ object.birth_date }}</em></p>
    <p class="fs-2 text"><em>{{ object.death_date }}</em></p>
    <p>{% trans "rescue_boats" %} :</p>
        {% for i in object.medals.all %}
            <div>{{ i }}</div>
        {% endfor %}
    </div>

{% endblock %}