{% extends "base.html" %}
{% load i18n %}
{% block title %}
    {% trans 'Rescue' %}
{% endblock %}
{% block content %}
    <div class="position-absolute top-50 start-50 translate-middle badge text-secondary">
        <div class="align-middle fs-1"><h1><strong>{{ object.name }}</strong></h1></div>
        <p>{% trans "rescued_boats" %} :</p>
        {% for i in object.rescued_boats.all %}
            <p><a href="{{ i.get_absolute_url }}">{{ i }}</a></p>
        {% endfor %}
        <p>{% trans "rescue_boats" %} :</p>
        {% for i in object.rescue_boats.all %}
            <p><a href="{{ i.get_absolute_url }}">{{ i.name }}</a></p>
        {% endfor %}
        <p>{% trans "rescuers" %} :</p>
        {% for i in object.rescuers.all %}
            <p>{{ i.first_name }}</p>
        {% endfor %}
        <p>{% trans "description" %} :</p>
        <p>{{ object.description }}</p>
        <p>{% trans "date" %} :</p>
        <p>{{ object.rescue_date }}</p>
    </div>
{% endblock %}